:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark:0 2rem 6rem rgba(0,0,0,0.3)
; }

* {
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  font-family: "Opens Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-1);
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, var(--color-primary), var(--color-primary-dark)); }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: #fff;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  min-height: 50rem; }

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2) solid 1px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.content {
  display: flex; }

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%; }

.hotel-view {
  flex: 1; }

.logo {
  height: 3.25rem;
  margin-left: 1.7rem; }

.search {
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 40%; }
  .search_input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--color-grey-light-2);
    color: inherit;
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    margin-right: -3.25rem;
    width: 90%;
    transition: all 0.3s ease-out; }
    .search_input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
    .search_input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4); }
  .search_input:focus + .search_button {
    font-weight: 100;
    color: var(--color-grey-light-3); }
  .search_button {
    border: none;
    background-color: var(--color-grey-light-2); }
    .search_button:focus {
      outline: none; }
    .search_button:active {
      transform: translateY(4px); }
  .search_icon {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    fill: var(--color-grey-dark-3); }

.user-nav {
  font-size: inherit;
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-self: stretch; }
  .user-nav > * {
    padding: 1.9rem; }
  .user-nav > *:hover {
    background-color: var(--color-grey-dark-3);
    color: white; }
  .user-nav_icon-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; }
  .user-nav_icon-box:hover .user-nav_icon {
    fill: white; }
  .user-nav_icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2); }
  .user-nav_notification {
    color: var(--color-grey-light-1);
    display: flex;
    position: absolute;
    top: .78rem;
    right: 0.7rem;
    justify-content: center;
    align-items: center;
    height: 2.1rem;
    width: 2.1rem;
    background-color: var(--color-primary);
    border-radius: 50%; }
  .user-nav_user {
    font-size: 1.2rem;
    color: var(--color-grey-dark-2);
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav_user-photo {
    height: 3.5rem;
    width: 3.5rem;
    margin-right: 1rem;
    border-radius: 50%; }

.side-nav {
  width: 100%;
  margin-top: 3.5rem;
  font-size: 1.2rem;
  list-style: none;
  color: #fff; }
  .side-nav_item {
    position: relative; }
    .side-nav_item:not(:last-child) {
      margin-bottom: 1.7rem; }
  .side-nav_item:hover {
    color: var(--color-grey-light-4); }
  .side-nav_item:hover .side-nav_icon {
    fill: #fff; }
  .side-nav_item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: .2rem;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom;
    background-color: var(--color-primary);
    transition: transform .2s ease-in-out, background-color 0.2s ease-in, width .2s ease-in-out 0.2s; }
  .side-nav_item:hover::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav_item:active::before {
    background-color: var(--color-primary-dark); }
  .side-nav_link, .side-nav_link:link, .side-nav_link:visited {
    padding: 1rem 1.9rem;
    z-index: 2;
    position: relative;
    color: inherit;
    font-size: inherit;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out; }
  .side-nav_link:active {
    transform: scale(1.1); }
  .side-nav_icon {
    margin-right: 2rem;
    height: 2.2rem;
    width: 2.2rem;
    fill: var(--color-primary-light); }

.legal {
  color: #fff;
  padding: 1rem; }

.gallery {
  display: flex;
  justify-content: flex-start;
  border-bottom: var(--color-grey-light-2) solid 1px; }
  .gallery_photo {
    width: 100%;
    display: block; }

.overview {
  padding-left: 1rem;
  display: flex;
  align-items: center;
  box-shadow: 0px 5px 1px var(--color-grey-light-2); }

.overview_heading {
  color: var(--color-grey-dark-2);
  margin-right: 1rem; }

.overview_stars {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-right: auto; }

.overview_icon-star {
  fill: var(--color-primary);
  height: 1.7rem;
  width: 1.7rem; }

.overview_location {
  color: var(--color-grey-dark-1);
  margin-right: 3rem; }

.overview_icon {
  fill: currentColor;
  height: 1.7rem;
  width: 1.7rem; }

.btn-inline {
  color: currentColor;
  border: none;
  background-color: white;
  border-bottom: currentColor 1px solid; }
  .btn-inline_grey {
    background-color: var(--color-grey-light-1); }

.btn-inline:focus {
  outline: none; }

.btn-inline:hover {
  cursor: pointer; }

.button-bottom {
  color: var(--color-primary-light);
  display: inline-block; }
  .button-bottom_span {
    margin-left: 0.5rem;
    font-size: 2rem;
    display: inline-block;
    transition: all 0.3s ease-in-out; }

.button-bottom:hover .button-bottom_span {
  margin-left: 1rem; }

.overview_location:hover {
  color: var(--color-primary);
  animation: animated .5s ease-in infinite;
  animation-fill-mode: forwards; }

.overview_rating {
  align-self: stretch;
  margin-top: -1px;
  color: white;
  background-color: var(--color-primary);
  padding: 2px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .overview_rating-average {
    font-size: 2rem; }
  .overview_rating-count {
    font-weight: 500;
    font-size: 1.4rem; }

@-webkit-keyframes animated {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  0% {
    transform: scale(1); } }

@keyframes animated {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  0% {
    transform: scale(1); } }

.details {
  font-size: 1.4rem;
  background-color: var(--color-grey-light-1);
  color: var(--color-grey-dark-2);
  padding: 3rem;
  display: flex; }

.details_description {
  background-color: #fff;
  flex: 0 0 60%;
  margin-right: 4rem;
  padding: 2rem;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2); }

.paragraph:not(:last-of-type) {
  margin-bottom: 1.5rem; }

.list {
  border-top: 1px solid var(--color-grey-light-3);
  padding-top: 0.7rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem; }
  .list_item {
    margin-bottom: 1rem;
    flex: 0 0 50%; }
  .list_item:before {
    content: "";
    background-color: var(--color-primary-light);
    mask-image: url(../img/chevron-thin-right.svg);
    -webkit-mask-image: url(../img/chevron-thin-right.svg);
    -webkit-mask-size: cover;
    mask-size: cover;
    display: inline-block;
    height: 1.3rem;
    width: 1.3rem;
    margin-right: .5rem; }

.recommend {
  border-top: 1px solid var(--color-grey-light-3);
  display: flex;
  padding-top: 3rem;
  justify-content: space-between;
  align-items: center; }
  .recommend_count {
    font-size: 1.4rem;
    color: var(--color-grey-dark-2); }
  .recommend_friends {
    display: flex; }
  .recommend_photo {
    box-sizing: content-box;
    margin-left: -2rem;
    height: 6rem;
    width: 6rem;
    border: 0.5rem solid white;
    border-radius: 50%; }

.user_reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; }

.review {
  background-color: #fff;
  padding: 3rem;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 3rem;
  position: relative;
  overflow: hidden; }
  .review_text {
    position: relative;
    z-index: 2; }
  .review_user {
    margin-top: 2rem;
    display: flex;
    align-items: center; }
  .review_photo {
    height: 5rem;
    width: 5rem;
    border-radius: 50%; }
  .review_user-box {
    margin-right: auto;
    margin-left: 2rem; }
  .review_user-name {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase; }
  .review_user-date {
    font-size: 1.2rem; }
  .review_rating {
    font-size: 2.2rem;
    color: var(--color-primary-light); }
  .review::before {
    padding: 0;
    content: "\201C";
    color: var(--color-grey-light-2);
    position: absolute;
    top: -2.5rem;
    line-height: 1;
    left: -1rem;
    font-size: 20rem;
    font-family: sans-serif; }

.cta {
  padding: 2rem;
  text-align: center; }
  .cta_book-now {
    color: var(--color-grey-dark-2); }
  .cta_button {
    overflow: hidden;
    position: relative;
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: 1rem;
    border: none;
    color: #fff;
    padding: 1.3rem 2.5rem;
    border-radius: 100px;
    background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark)); }
    .cta_button:focus {
      outline: none; }
  .cta_invisible {
    display: inline-block;
    position: absolute;
    width: 100%;
    top: 50%;
    left: -100%;
    transform: translateY(-50%);
    transition: all 0.2s ease-in-out; }
  .cta_visible {
    display: inline-block;
    width: 100%;
    transition: all 0.2s ease-in-out; }
  .cta_button:hover .cta_invisible {
    transform: translate(100%, -50%); }
  .cta_button:hover .cta_visible {
    transform: translateX(130%); }
