:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark:0 2rem 6rem rgba(0,0,0,0.3)
; }

* {
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  font-family: "Opens Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-1);
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, var(--color-primary), var(--color-primary-dark)); }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: #fff;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  min-height: 50rem; }

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2) solid 1px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.content {
  display: flex; }

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%; }

.hotel-view {
  flex: 1;
  height: 50rem; }

.logo {
  height: 3.25rem;
  margin-left: 1.7rem; }

.search {
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 40%; }
  .search_input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--color-grey-light-2);
    color: inherit;
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    margin-right: -3.25rem;
    width: 90%;
    transition: all 0.3s ease-out; }
    .search_input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
    .search_input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4); }
  .search_input:focus + .search_button {
    font-weight: 100;
    color: var(--color-grey-light-3); }
  .search_button {
    border: none;
    background-color: var(--color-grey-light-2); }
    .search_button:focus {
      outline: none; }
    .search_button:active {
      transform: translateY(4px); }
  .search_icon {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    fill: var(--color-grey-dark-3); }

.user-nav {
  font-size: inherit;
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-self: stretch; }
  .user-nav > * {
    padding: 1.9rem; }
  .user-nav > *:hover {
    background-color: var(--color-grey-dark-3);
    color: white; }
  .user-nav_icon-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; }
  .user-nav_icon-box:hover .user-nav_icon {
    fill: white; }
  .user-nav_icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2); }
  .user-nav_notification {
    color: var(--color-grey-light-1);
    display: flex;
    position: absolute;
    top: .78rem;
    right: 0.7rem;
    justify-content: center;
    align-items: center;
    height: 2.1rem;
    width: 2.1rem;
    background-color: var(--color-primary);
    border-radius: 50%; }
  .user-nav_user {
    font-size: 1.2rem;
    color: var(--color-grey-dark-2);
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav_user-photo {
    height: 3.5rem;
    width: 3.5rem;
    margin-right: 1rem;
    border-radius: 50%; }

.side-nav {
  width: 100%;
  margin-top: 3.5rem;
  font-size: 1.2rem;
  list-style: none;
  color: #fff; }
  .side-nav_item {
    position: relative; }
    .side-nav_item:not(:last-child) {
      margin-bottom: 1.7rem; }
  .side-nav_item:hover {
    color: var(--color-grey-light-4); }
  .side-nav_item:hover .side-nav_icon {
    fill: #fff; }
  .side-nav_item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: .2rem;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom;
    background-color: var(--color-primary);
    transition: transform .2s ease-in-out, background-color 0.2s ease-in, width .2s ease-in-out 0.2s; }
  .side-nav_item:hover::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav_item:active::before {
    background-color: var(--color-primary-dark); }
  .side-nav_link, .side-nav_link:link, .side-nav_link:visited {
    padding: 1rem 1.9rem;
    z-index: 2;
    position: relative;
    color: inherit;
    font-size: inherit;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out; }
  .side-nav_link:active {
    transform: scale(1.1); }
  .side-nav_icon {
    margin-right: 2rem;
    height: 2.2rem;
    width: 2.2rem;
    fill: var(--color-primary-light); }

.legal {
  color: #fff;
  padding: 1rem; }

.gallery {
  display: flex;
  justify-content: flex-start;
  border-bottom: var(--color-grey-light-2) solid 1px; }
  .gallery_photo {
    width: 100%;
    display: block; }

.overview {
  padding-left: 1rem;
  display: flex;
  align-items: center;
  box-shadow: 0px 5px 1px var(--color-grey-light-2); }

.overview_heading {
  color: var(--color-grey-dark-2);
  margin-right: 1rem; }

.overview_stars {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-right: auto; }

.overview_icon-star {
  fill: var(--color-primary);
  height: 1.7rem;
  width: 1.7rem; }

.overview_location {
  color: var(--color-grey-dark-1);
  margin-right: 3rem; }

.overview_icon {
  fill: currentColor;
  height: 1.7rem;
  width: 1.7rem; }

.btn-inline {
  color: currentColor;
  border: none;
  background-color: white;
  border-bottom: currentColor 1px solid; }

.btn-inline:focus {
  outline: none; }

.overview_location:hover {
  color: var(--color-primary);
  animation: animated .5s ease-in infinite;
  animation-fill-mode: forwards; }

.overview_rating {
  align-self: stretch;
  margin-top: -1px;
  color: white;
  background-color: var(--color-primary);
  padding: 2px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .overview_rating-average {
    font-size: 2rem; }
  .overview_rating-count {
    font-weight: 500;
    font-size: 1.4rem; }

@-webkit-keyframes animated {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  0% {
    transform: scale(1); } }

@keyframes animated {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  0% {
    transform: scale(1); } }
