.logo{
    height:3.25rem;
    margin-left:1.7rem;
}

.search{
    font-size:1.4rem;
    display:flex;
    justify-content: center;
    align-items: center;

    flex-basis: 40%;
    &_input{
        font-family: inherit;
        font-size: inherit;
        background-color: var(--color-grey-light-2);
        color: inherit;
        border:none;
        padding: 0.7rem 2rem;
        border-radius:100px;
        margin-right:-3.25rem;
        width:90%;
        transition: all 0.3s ease-out;

        &:focus{
            outline:none;
            width:100%;
            background-color: var(--color-grey-light-3);
        };

        &::-webkit-input-placeholder {
            font-weight:100;
            color:var(--color-grey-light-4);
        }

    };

    &_input:focus + &_button {
        font-weight:100;
        color: var(--color-grey-light-3);
    }

    
    &_button{
        border:none;
        background-color:var(--color-grey-light-2);

        &:focus{
            outline:none;

        }


        &:active{
            transform:translateY(4px);
        }

    }

    

    &_icon{
        height:2rem;
        width:2rem;
        cursor: pointer;
        fill: var(--color-grey-dark-3);
    }
}



.user-nav{
    font-size:inherit;
    font-family:inherit;
    display:flex;
    justify-content:center;
    align-self: stretch;
   
    

    &>*{
        padding:1.9rem;
        
    
        
    }

    &>*:hover{
        background-color: var(--color-grey-dark-3);
        color:white
        
    }

    &_icon-box{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    &_icon-box:hover &_icon {
        fill:white
    }
    &_icon{
        height:2.25rem;
        width:2.25rem;
        fill:var(--color-grey-dark-2)
    }

    &_notification{
        color: var(--color-grey-light-1);
        display:flex;
        position: absolute;
        top:.78rem;
        right:0.7rem;
        justify-content: center;
        align-items: center;
        height:2.1rem;
        width:2.1rem;
        background-color:var(--color-primary);
        border-radius:50%;


    }
    &_user{
        font-size: 1.2rem;
        color: var(--color-grey-dark-2);
     display:flex;
     justify-content: center;
     align-items: center;
    }

    &_user-photo{
        height:3.5rem;
        width:3.5rem;
        margin-right:1rem;
        border-radius:50%
    }

}

.side-nav{
    // background-color: lightslategray;
    width:100%;
    margin-top: 3.5rem;
    font-size:1.2rem;
    list-style: none;
    color:#fff;
     
    &_item{
        position: relative;
        &:not(:last-child){
            margin-bottom: 1.7rem;
        
        }
    }

    &_item:hover{
        color:var(--color-grey-light-4)
    }

    &_item:hover &_icon{
        fill:#fff
    }

        &_item::before{
            content:"";
            position: absolute;
            top:0;
            left:0;
            width:.2rem;
            height:100%;
            transform: scaleY(0);
            transform-origin: bottom;
            background-color:var(--color-primary);
            transition: transform .2s ease-in-out,
                        background-color 0.2s ease-in,
                        width .2s ease-in-out 0.2s;

            
            
    }

    &_item:hover::before{
        transform: scaleY(1);
        width:100%;
        
        

    }

    &_item:active::before{
        background-color:var(--color-primary-dark)

    }



    &_link,
    &_link:link,
    &_link:visited{
        // background-color: lightgreen;
        padding: 1rem 1.9rem;
        z-index: 2;
        position: relative;
        color: inherit;
        font-size:inherit;
        font-weight: 700;
        text-decoration: none;
        display:flex;
        justify-content:flex-start;
        align-items: center;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out;

    }


    &_link:active{
        transform:scale(1.1);
    }


    &_icon{
        margin-right:2rem;
        height:2.2rem;
        width:2.2rem;
        fill:var(--color-primary-light)
    }


}
.legal{
    color:#fff;
    padding:1rem
}


.gallery{
    display:flex;
    justify-content:flex-start;
    border-bottom:var(--color-grey-light-2) solid 1px;
    &_item{
    }

    &_photo{
        width:100%;
        display:block
    }

}

.overview{
    padding-left:1rem;
   display:flex;
   align-items:center;
   box-shadow: 0px 5px 1px var(--color-grey-light-2);

}

.overview_heading{
color:var(--color-grey-dark-2);
margin-right:1rem
}

.overview_stars{
    display:flex;
    justify-content:center;
    align-content: center;
    margin-right:auto

}

.overview_icon-star{
    fill:var(--color-primary);
    height:1.7rem;
    width:1.7rem
    }


.overview_location{
    color:var(--color-grey-dark-1);
    margin-right:3rem;
}

.overview_icon{
    fill:currentColor;
    height:1.7rem;
    width:1.7rem
}

.btn-inline{
   color:currentColor;
    border:none;
    background-color:white;
    border-bottom: currentColor 1px solid;

}

.btn-inline:focus{
    outline:none;
  

}

.overview_location:hover{
    color:var(--color-primary);
    animation: animated .5s ease-in infinite;
    animation-fill-mode: forwards;
}

.overview_rating{
    align-self: stretch;
    margin-top:-1px;
    color:white;
    background-color: var(--color-primary);
    padding: 2px 5px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    &-average{
        font-size:2rem;
     

    }

    &-count{
        font-weight: 500;
        font-size:1.4rem;
        

    }

}


@-webkit-keyframes animated{
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.1);
    }

    0%{
        transform: scale(1);
    }
}

@keyframes animated{
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.1);
    }

    0%{
        transform: scale(1);
    }
}